# App
DATABASE_URL="postgresql://postgres:postgres@localhost:5432/analog_db"
BETTER_AUTH_SECRET="32-char-string"
BETTER_AUTH_URL="http://localhost:3000"

# Google Calendar/Login
GOOGLE_CLIENT_ID=
GOOGLE_CLIENT_SECRET=

# Microsoft Calendar/Login
MICROSOFT_CLIENT_ID=
MICROSOFT_CLIENT_SECRET=

# Upstash Redis for Rate Limiting
UPSTASH_REDIS_REST_URL=
UPSTASH_REDIS_REST_TOKEN=

SIMPLE_ANALYTICS_HOSTNAME=
NEXT_PUBLIC_SIMPLE_ANALYTICS_HOSTNAME=